<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.swu.mapper.StudentMapper">
	
	<!-- select student by id -->
	<select id="getStudentById" resultType="Student">
		SELECT * FROM student WHERE sid = #{sid}
	</select>
	
	<!-- select student by acount -->
	<select id="getStudentByAcount" resultType="Student">
		SELECT * FROM student WHERE acount = #{acount}
	</select>
	
</mapper>